@media (max-width: 64em) {
  html {
    font-size: 60%;
  }

  .header {
    padding: 0 4.8rem;
  }

  .hero-section,
  section,
  footer {
    padding: 4.8rem;
  }
}

@media (max-width: 48em) {
  html {
    font-size: 50%;
  }
  .container {
    max-width: 40rem;
  }

  /* Mobile Navigation */
  .main-nav-list {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
    backdrop-filter: blur(2rem);
    opacity: 0;

    flex-direction: column;
    gap: 4.8rem;

    /* unaccesssible to mouse or keyboard */
    pointer-events: none;

    /* hide from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav-list {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-bar-link:link,
  .nav-bar-link:visited,
  .sign-in-btn:link,
  .sign-in-btn:visited {
    font-size: 2rem;
  }

  .main-nav-list > li .btn {
    margin-left: 0;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 999;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .features-grid {
    gap: 4.8rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .articles {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.4rem;
    column-gap: 3.6rem;
  }
  .article-section-container {
    padding: 0 4.8rem;
  }

  .footer-section-container {
    grid-template-columns: repeat(1, 1fr);
    grid-column: 2fr;
    row-gap: 4rem;
    padding: 0 4.8rem;
  }
  .copyright {
    align-items: flex-start;
  }

  .footer-section {
    padding: 4.8rem 0 2.4rem;
  }
}

@media (max-width: 34em) {
  body {
    overflow-x: hidden;
  }
  .hero-section-container {
    grid-template-columns: 1fr;
  }

  .container {
    padding: 0 1.2rem;
  }

  .header {
    padding: 0 1.2rem;
  }
  .hero-section,
  section,
  footer {
    padding: 1rem;
  }

  .features-section-containe {
    text-align: center;
  }

  .features-grid {
    grid-template-columns: 1fr;
    max-width: 30rem;
    justify-content: center;
    align-items: center;
  }

  .primary-header {
    text-align: center;
    font-size: 3.2rem;
  }
  .secondary-heading {
    text-align: center;
    font-size: 2.4rem;
  }

  .hero-text-box {
    text-align: center;
    align-items: center;
  }

  .hero-description {
    font-size: 1.6rem;
  }

  .articles {
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
    align-items: center;
    justify-content: center;
  }

  .article-text-box {
    padding: 1.2rem 2.4rem;
  }
}
